RewriteEngine On
ErrorDocument 404 /site/hata.php

RewriteRule ^anasayfa index.php [L,NC]
RewriteRule ^hakkimizda hakkimizda.php [L,NC]
RewriteRule ^paketler portfolyo.php [L,NC]
RewriteRule ^istasyon servis.php [L,NC]
RewriteRule ^iletisim iletisim.php [L,NC]


